@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 1220px){
    
  
}

@media screen and (min-width:1450px){
    .section{
        padding-bottom:1%;
    }
    .about-us .panel{
        height:auto;
        padding:4% 0%;
    }
    .about-us  .panel p{
        line-height:28px;
    }
    .about-us  .panel img{
        width:190px;
        height:275px;
    } 
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
        line-height: 34px;
    }
    input[type=date].input-sm, input[type=time].input-sm, input[type=datetime-local].input-sm, input[type=month].input-sm, .input-group-sm input[type=date], .input-group-sm input[type=time], .input-group-sm input[type=datetime-local], .input-group-sm input[type=month] {
        line-height: 30px;
    }
    input[type=date].input-lg, input[type=time].input-lg, input[type=datetime-local].input-lg, input[type=month].input-lg, .input-group-lg input[type=date], .input-group-lg input[type=time], .input-group-lg input[type=datetime-local], .input-group-lg input[type=month] {
        line-height: 46px;
    }
}
